<h1>編集画面</h1>
<%= @wire.hinban %><br>
確定注文入力
<%= form_with model: @wire,  local: true do |f| %>
  <div class="wire-box">
    注文数<%= f.text_field :chumon, class:"chumon", placeholder:"確定注文数" %>
    在庫数<%= f.text_field :seisan, class:"seisan", placeholder:"生産数" %>
    <%= f.submit "確定" ,class:"btn" %>
  </div>
<% end %>