<h1>井澤金属側</h1>
<%= link_to 'コンセプト側へ',root_path %>
<%= link_to '新規品作成',new_wire_path %>
<%= link_to 'リセット',reset_path, method: :patch  %>


<% @wires.each do |wire| %>
  <div class="article">
    <div class="article-genre">
      <%= wire.hinban %>
    </div>
    <div class="article-title">
      確定注文:  <%= wire.chumon %>
    </div>
        <div class="article-title">
    　在庫　: <%= wire.seisan %>
    </div>
    <div class="article-text">
    　不足　:<%= wire.seisan - wire.chumon %>
    </div>
    <div class="prototype__manage">
      <%= link_to "編集", edit_wire_path(wire.id), class: :wire_btn %>
    </div>
  </div>
<% end %>