      <header class="header">
      <div class="concept-var">
        <div class="concept-logo">
              <%= link_to "井澤金属", izawa_path, class: :concept__btn %>
              </div>
              <div class="izawa-logo">
              <%= link_to "CONCEPT→", root_path, class: :izawa__btn %>
              </div>
        </div>
      </div>
    </header>
    <div class="izawatopspace">
      <div class="shinkihin"><%= link_to '新規品追加',new_wire_path,class: :izawa__shinki %></div>
      <div class="ichiran">注文書作成</div>
      <div class="reset"><%= link_to '0リセット',reset_path,class: :izawa__riset ,method: :patch  %></div>
    </div>
        <div class="izawaspace">
        <div class="izawamigispace"></div>
        <div class="izawahinban"><div class ="izawawires">品番</div></div>
        <div class="izawazaiko"><div class ="izawawires">在庫</div></div>
        <div class="izawachumon"><div class ="izawawires">注文数</div></div>
        <div class="izawahidarispace"></div>
        </div>

      <% @wires.each do |wire| %>
        <div class="izawaspace2">
        <div class="izawamigispace"></div>
        <div class="izawahinban2"><%= link_to "#{wire.hinban}", edit_wire_path(wire.id), class: :izawafontsize %></div>
        <div class="izawazaiko2">
        <% if wire.zaiko.negative? %>
          <div class="izawafontsize"><font color=red><%= wire.zaiko  %></font></div>
        <% else %>
           <div class="izawafontsize"><%= wire.zaiko %></div>
         <% end %>
          </div>
        <div class="izawachumon2"><%= link_to "#{wire.chumon}",izawachumon_wire_path(wire.id), class: :izawafontsize %></div>
        <div class="izawahidarispace">
          <div class="izawa_wire_btn_waku">
          <%= link_to "編集",izawachumon_wire_path(wire.id),  class: :izawa_wire_btn %>
          </div>
        </div>
        </div>
      <% end %>
