<h1>井澤金属側</h1>
<%= link_to 'コンセプト側へ',root_path %>
<%= link_to '新規品作成',new_wire_path %>
<%= link_to '0リセット',reset_path, method: :patch  %>
<%= link_to '一括登録',ikkatsu_path, method: :patch  %>


<% @wires.each do |wire| %>
  <div class="article">
    <div class="article-genre">
      <%= link_to "#{wire.hinban}", edit_wire_path(wire.id), class: :wire_btn %>
    </div>
    <div class="article-title">
    確定注文:
 <%= link_to "#{wire.chumon}",izawachumon_wire_path(wire.id), class: :wire_btn %>
    </div>
  <div class="btn", id="go_button_<%= wire.id %>">
  <%= form_with model: @wire, local: true do |f| %>
  <div class="wire-box">
    <%= f.text_field :chumon, autofocus: true, class:"chumon", placeholder:"確定注文数" %>
  <%= f.submit "確定" ,class:"btn" %>
<% end %>
  </div>

    <div class="article-title">
    　在庫　: <%= wire.seisan %>
    </div>
    <% if (wire.seisan - wire.chumon).negative? %>
    <div class="article-text">
    　不足　:<font color=red><%= wire.seisan - wire.chumon %></font>
    </div>
    <% end %>
  </div>
<% end %>


<p>テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script>

