      <header class="header">
      <div class="concept-var">
        <div class="concept-logo">
              <%= link_to "井澤金属", izawa_path, class: :concept__btn %>
              </div>
              <div class="izawa-logo">
              <%= link_to "CONCEPT→", root_path, class: :izawa__btn %>
              </div>
        </div>
      </div>
    </header>
    <div class="izawatopspace">
      <div class="shinkihin"><%= link_to '新規品作成',new_wire_path,class: :izawa__shinki %></div>
      <div class="ichiran">注文書作成</div>
      <div class="reset"><%= link_to '0リセット',reset_path,class: :izawa__riset ,method: :patch  %></div>
    </div>
        <div class="izawaspace">
        <div class="izawamigispace"></div>
        <div class="izawahinban">品番</div>
        <div class="izawazaiko">在庫</div>
        <div class="izawachumon">注文数</div>
        <div class="izawahidarispace"></div>
        </div>

      <% @wires.each do |wire| %>
        <div class="izawaspace">
        <div class="izawamigispace"></div>
        <div class="izawahinban"><%= link_to "#{wire.hinban}", edit_wire_path(wire.id), class: :wire_bt %></div>
        <div class="izawazaiko">
        <% if wire.zaiko.negative? %>
          <div class=""><font color=red><%= wire.zaiko  %></font></div>
        <% else %>
           <div class=""><%= wire.zaiko %></div>
         <% end %>
          </div>
        <div class="izawachumon"><%= link_to "#{wire.chumon}",izawachumon_wire_path(wire.id), class: :wire_bt %></div>
        <div class="izawahidarispace"></div>
        </div>
      <% end %>
