      <header class="header">
      <div class="concept-var">
        <div class="concept-logo">
              <%= link_to "井澤金属", izawa_path, class: :concept__btn %>
              </div>
              <div class="izawa-logo">
              <%= link_to "CONCEPT→", root_path, class: :izawa__btn %>
              </div>
        </div>
      </div>
    </header>
<%= link_to '新規品作成',new_wire_path %>
<%= link_to '0リセット',reset_path, method: :patch  %>



<% @wires.each do |wire| %>
  <div class="article">
    <div class="article-genre">
      <%= link_to "#{wire.hinban}", edit_wire_path(wire.id), class: :wire_bt %>
    </div>
    <div class="article-title">
    確定注文:
 <%= link_to "#{wire.chumon}",izawachumon_wire_path(wire.id), class: :wire_bt %>
    </div>


  <div class="wire-boxx">

  </div>

 
    <% if wire.zaiko.negative? %>
    <div class="article-text">
    　不足　:<font color=red><%= wire.zaiko  %></font>
    </div>
    <% else %>
        <div class="article-title">
        　在庫　: <%= wire.zaiko %>
        </div>

    <% end %>
  </div>
<% end %>
