<h1>コンセプト側</h1>
<%= link_to '井澤側へ',wires_path %>
<% @wires.each do |wire| %>
  <div class="article">
    <div class="article-genre">
      <%= wire.hinban %>
    </div>
    <div class="article-title">
      確定注文:  <%= wire.chumon %>
    </div>
        <div class="article-title">
    　在庫　: <%= wire.seisan %>
    </div>
    <div class="article-text">
    　不足　:<%= wire.seisan - wire.chumon %>
    </div>
    <div class="prototype__manage">
      <%= link_to "編集", edit_wire_path(wire.id), class: :wire_btn %>
    </div>
  </div>
<% end %>

