<!DOCTYPE html>
<html>
  <head>
    <title>ConceptIzawa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
      <div class="inner">
        <div class="nav">

         
              <%= link_to "コンセプト", "#", class: :nav__btn %>
              <%= link_to "井澤金属", "#", class: :nav__btn %>
            
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
